.logo {
   color: white;
   font-family: NimbusSanExt-Bol, "nimbus-sans-extended",sans-serif;
   line-height: 1em;
}
nav {
   padding-bottom: 24px;
}
nav ul {
   display: inline;
}
nav li {
   display: inline;
}
nav a {
   color: white;
   font-family: NimbusSanExt-Bol, "nimbus-sans-extended",sans-serif;
   text-decoration: none;
}
.desc {
   padding: 18px 0;
}
.desc a {
   color: white;
}
.desc > .date {
   font-size: .6em;
}
.menu-link {
   font-family: NimbusSanExt-Bol, "nimbus-sans-extended",sans-serif;
   background: black;
   position: absolute;
   z-index: 50;
   color: white;
   padding: 12px 18px;
}
.menu {
   background: black;
   width: 100vw;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 100;
   color: white;
   font-size: 30px;
   line-height: 36px;
   letter-spacing: .01em;

   transform: translateY(-50vh);
}
.preview {
   position: absolute;
   right: 0;
   top: 0;
   padding: 24px 18px 0;
   box-sizing: border-box;
   width: 48%;
   float: right;
   background-size: cover;
   height: 100%;
}
.info {
   padding: 24px 18px 0;
   box-sizing: border-box;
   width: 50%;
   float: left;
}
