body {
   background: black;
   overflow: hidden;
   font-kerning: normal;
}

input {
   font-family: arial, sans-serif;

   background: transparent;
   border: none;
   width: 100%;
   height: 90px;
   color: white;
   font-size: 72px;
   line-height: 72px;
   text-align: center;
   z-index: 100;
   outline: none;

   position: absolute;
   top: 50%;
   transform: translateY(-50%);
}

::-webkit-input-placeholder {
   font-family: arial, sans-serif;

   color: white;
   font-size: 72px;
   line-height: 72px;
   text-align: center;
}

.space {
   width: 100%;
   height: 100%;
   position: fixed;
   overflow: hidden;

   cursor: pointer;
}

.word {
   pointer-events: none;
   color: white;
   font-family: arial, sans-serif;
   font-weight: bold;
   letter-spacing: -2px;
   font-size: 72px;
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: black;

   position: absolute;
   animation: fade 2s normal forwards;
   animation-delay: 300ms;

   transform-origin: center;
}

@keyframes fade {
   0% {
      color: white;
      transform: translateY(0px) scale(1);
   }
   25%{
      transform: translateY(-100px) scale(1);
   }
   50%{
      transform: translateY(100px) scale(1);
   }
   75%{
      transform: translateY(-100px) scale(.75);
   }
   100% {
      color: black;
      transform: translateY(0px) scale(.5);
   }
}
