body {
   background: black;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}
.space {
   cursor: pointer;
   height: 150%;
   position: fixed;
   top: -5%;
   left: 0;
   overflow: hidden;
   /*transform: translateY(-0%);*/
}
.cell {
   opacity: 0;

   float: left;
   margin-bottom: 8px;
   box-sizing: border-box;
   padding: 0 6px;
   transform-origin: 50% 100%;

   transition: all 200ms;

   /*animation: wave 600ms infinite;*/
}
.cell img {
   width: 100%;
   height: auto;
}

@keyframes wave {
   0% {
      transform: rotate(-4deg);
   }
   50% {
      transform: rotate(4deg);
   }
   100% {
      transform: rotate(-4deg);
   }
}
